checksums.lock
CreateCalculatorCarbonUseCase.class.uniqueId*
executionHistory.bin
executionHistory.lock
fileHases.bin
fileHases.lock
previous-compilation-data.bin
resourceHasesCache.bin

# Arquivos e pastas do IntelliJ IDEA
.idea/
*.iml
*.bin
*.lock


# Arquivos gerados pelo build
buildOutputCleanup.lock
**/build/

# Arquivos de configuração do Gradle
.gradle/
gradle.xml
jarRepositories.xml

# Arquivos de configuração do projeto
compiler.xml
misc.xml
Project_Default.xml
uiDesigner.xml
vcs.xml
